<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
      <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
    </div>
  
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold mb-3">HCI MiniProject</h1>
      <p class="lead">
        This project was built by the HCI Team as part of our Human-Computer Interaction (HCI) mini project. Our team <strong>-Kushal, Yash, Sumit, and Shweta—</strong>came together to create a user-friendly recipe blog.
      </p>
    </div>
</div>
